body {
    width: 900px;
    margin: 45px auto 0px auto;
    background-image:url("bg.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed; 
}

#locationContainer {
    float: left;
    margin: 0px 0px 15px 0px;
}

#locations {
    float: left;
}

.location {
    width: 480px;
    background-color:rgba(255,255,255,0.45);
    box-shadow: 0px 0px 24px rgba(255, 255, 255, 0.45);
    border-radius: 3px;
    padding: 10px 10px;
    word-wrap: break-word;
    margin: 0px 0px 15px 0px;
}

.button {
    height: 35px;
    margin: 7px 0px 0px 0px;
    border-radius: 7px;
}

.deleteIcon {
    float: right;
    width: 20px;
    height: 20px;
    margin: -8px 0px 0px 0px;
}

.sidebar {
    width: 340px;
    float: right;
    background-color: rgba(255,255,255,0.45);
    border-radius: 3px;
    box-shadow: 0px 0px 24px rgba(255, 255, 255, 0.45);
    padding: 7px 10px;
}

.bottommargin {
    margin: 0px 0px 15px 0px;
}

.small {
    font-size: 10px;
}

.gray {
    text-color: gray;
}

.float-left {
    float: left;
}
